@charset "utf-8";
/* WEB CSS */

/* common */

/* //common */

/* UI */
.payMethodSec .etcList li label {
	position: absolute;
	top: -1px; right: 0; bottom: 0; left: -1px;
	border: 1px solid #dcdcdc;
	text-align: center;
	font: 18px/1.2 'notoM';
	color: #222;
	transition:none;
	cursor: pointer;
    z-index: 1;
    background-position-y: 35% !important;
}
.payMethodSec .etcList li {
	position: relative;
	float: left;
	width: 153.3px; height: 120px;
}
.payMethodSec .etcList li.etcList11 label {background:url('../images/order/icon_chai.png') no-repeat 50% 50%; font-size: 0;}
.payMethodSec .etcList li.etcList12 label {background:url('../images/order/icon_sampay.png') no-repeat 50% 50%; font-size: 0;}
.payMethodSec .etcList li .discount_txt{display:none}
.payMethodSec .etcList li .discount_cardTxt{display:none}
.payMethodSec .etcList li.discount .discount_txt{display:block;font-size:14px;text-align: center;padding-top: 90px;color:#10806a;}
.payMethodSec .etcList li.discount .discount_cardTxt{display:block;color: #10806a; font-size: 14px;font-family: 'notoR'; margin-top: 7px;}
.payMethodSec .etcList li .text{width: 100%; text-align: center; position: absolute; top: 68px; color: #222;}
.payMethodSec .payWayWrap .discount_notice{background: #f1f1f1; padding: 22px 28px; margin: 30px 0;}
.payMethodSec .payWayWrap .discount_notice h4{font-family: 'notoR';font-size: 16px; color: #222;}
.payMethodSec .payWayWrap .discount_notice .bulListType2{margin-top:7px}
.payMethodSec .payWayWrap .discount_notice .bulListType2 li{padding-left:7px}
.payMethodSec .payWayWrap .discount_notice .bulListType2 > li:after{background: #999;}
.payMethodSec .paymentWrap .etcList li input[type="radio"]:checked .discount_notice{display:block}

/* //UI */

.onRankingWrap .rankTab{ width: 100%;background: #c4c4c4;}
.onRankingWrap .rankTab ul {display:flex;flex-wrap: nowrap;justify-content: center;align-items: center;}
.onRankingWrap .rankTab ul > li{width: 429px;height: 59px;text-align: center;}
.onRankingWrap .rankTab ul > li a{height: 100%;font-size:18px;color: #fff; border-top: 1px solid #c4c4c4;display: flex;justify-content: center; align-items: center;border-top:1px solid #c4c4c4}
.onRankingWrap .rankTab ul > li a.active{font-size:21px;font-weight: bold;background: #fff;color: #222;}

.onRankingWrap .tab-content{position: relative;}
.onRankingWrap .tab-content .tab_cont.active{ z-index: 9;}
.onRankingWrap .tab-content .tab_cont#tab-2{margin-top:97px}

.onRankingWrap .cate_wrap{border-bottom:1px solid #000;margin-top:33px;margin-bottom: 78px;}
.onRankingWrap .cate{position: relative;overflow: inherit !important;}
.onRankingWrap .cate ul{display: flex; justify-content: space-between;; align-items: center;white-space: nowrap;overflow-x: auto;}
.onRankingWrap .cate ul li a{padding: 10px; font-size: 17px;color: #000; display: inline-block;}
.onRankingWrap .cate ul li.active a{color: #187b67; font-weight: bold;}
.onRankingWrap .high{position: absolute;bottom:-3px;left: 0; width: 0; border-bottom: 4px solid #187b67;border-radius: 2px; transition: all 0.3s;transition-timing-function: cubic-bezier(.25,.75,.5,1.25)}

.onRankingWrap .swiper2 {position: relative; width: 100%;overflow: inherit;;margin-left: 550px}
.onRankingWrap .swiper2 .swiper-slide {margin-right: 0px;width:300px !important}
.onRankingWrap .swiper2 .slide_control{display: flex;position: absolute;bottom: -74px;left: calc(50% - 550px);transform: translate(-50%, -50%);color: transparent;font-size: 10px;}
.onRankingWrap .swiper2 .swiper-button-next,
.onRankingWrap .swiper2 .swiper-button-prev{position: relative;cursor: pointer;}
.onRankingWrap .swiper2 .swiper-button-prev{width:30px; height:32px; background: url(../images/common/arrow_left.png) no-repeat;background-size: cover;}
.onRankingWrap .swiper2 .swiper-button-next{width:27px; height:32px; background: url(../images/common/arrow_right.png) no-repeat;background-size: cover;}
.onRankingWrap .swiper2 .btn_autoplay{width:33px; height:32px; background: url(../images/common/control_stop.png) no-repeat;}
.onRankingWrap .swiper2 .btn_autoplay.stop{background: url(../images/common/control_play.png) no-repeat;}
.onRankingWrap .swiper2.disabled .swiper-wrapper{transform: translate3d(0px, 0, 0) !important;}
.onRankingWrap .swiper2.disabled .swiper-slide-duplicate{display:none}
.onRankingWrap .swiper2.disabled{width: 1280px;margin:0 auto}
.onRankingWrap .swiper2.disabled .slide_control{left:50%}

.onRankingWrap .swiper2 .pdtListType{position: relative;width: 100%; }
.onRankingWrap .swiper2 .pdtListType:hover .pdtOver{background: #fff;}
.onRankingWrap .swiper2 .pdtOver{height: 300px;border:1px solid #a7a7a7}
.onRankingWrap .swiper2 .pdtListType .pdtCont{height: 117px;padding: 14px 22px 0;}
.onRankingWrap .swiper2 .pdtListType .pdtImg .stikerWrap{top: -21px; left: 0%;right: 0px;width: 40px; margin: 0 auto;}
.onRankingWrap .swiper2 .pdtListType .pdtImg .stikerWrap .stikerType_1 {border-radius: 0;background: #167a68;font-size: 20px;}
.onRankingWrap .swiper2 .pdtListType .pdtImg .stikerWrap .ic_bestCrown{position: absolute; top: -21px;}
.onRankingWrap .swiper2 .pdtListType .pdtImg{margin:0; }
.onRankingWrap .swiper2 .pdtListType .pdtImg:hover .pdtListTyp{border:0}
.onRankingWrap .swiper2 .pdtListType .pdtUtil{right:0px;left:0px;}
.onRankingWrap .swiper2 .pdtListType .pdtImg > img.over{top:0}
.onRankingWrap .swiper2 .pdtListType .pdtOver:after{right:0;left:0}
.onRankingWrap .swiper2 .pdtListType .pdtUtil{margin-top: -42px;}

.onRankingWrap .swiper3 {position: relative; width: 100%;overflow: inherit;margin-left: 550px;}
.onRankingWrap .swiper3 .swiper-slide {margin-right: 0px;width:300px !important}
.onRankingWrap .swiper3 .slide_control{display: flex;position: absolute;bottom: -94px;left: calc(50% - 550px);transform: translate(-50%, -50%);color: transparent;font-size: 10px;}
.onRankingWrap .swiper3 .swiper-button-next,
.onRankingWrap .swiper3 .swiper-button-prev{position: relative;cursor: pointer;}
.onRankingWrap .swiper3 .swiper-button-prev{width:30px; height:32px; background: url(../images/common/arrow_left.png) no-repeat;background-size: cover;}
.onRankingWrap .swiper3 .swiper-button-next{width:27px; height:32px; background: url(../images/common/arrow_right.png) no-repeat;background-size: cover;}
.onRankingWrap .swiper3 .btn_autoplay{width:33px; height:32px; background: url(../images/common/control_stop.png) no-repeat;}
.onRankingWrap .swiper3 .btn_autoplay.stop{background: url(../images/common/control_play.png) no-repeat;}
.onRankingWrap .swiper3.disabled .swiper-wrapper{transform: translate3d(0px, 0, 0) !important;}
.onRankingWrap .swiper3.disabled .swiper-slide-duplicate{display:none}
.onRankingWrap .swiper3.disabled{width: 1280px;margin:0 auto}
.onRankingWrap .swiper3.disabled .slide_control{left:50%}

.onRankingWrap .swiper3 .pdtListType{position: relative;width: 100% }
.onRankingWrap .swiper3 .pdtListType:hover .pdtOver{background: #fff;}
.onRankingWrap .swiper3 .pdtOver{height: 300px;border:1px solid #a7a7a7}
.onRankingWrap .swiper3 .pdtListType .pdtCont{height: 117px;padding: 14px 20px 0;}
.onRankingWrap .swiper3 .pdtListType .pdtCont .name{margin: 0 0 6px;}
.onRankingWrap .swiper3 .pdtListType .pdtCont .purchase{display: inline-block; line-height: 1.35;background: #167a68;padding: 0 13px; margin-bottom: 4px; font-size: 19px;color: #fff;border-radius: 15px;text-align: center;}
.onRankingWrap .swiper3 .pdtListType .pdtCont .purchase em{font-size: 15px;}
.onRankingWrap .swiper3 .pdtListType .pdtImg .stikerWrap{top: -21px; left: 0%;right: 0px;width: 40px; margin: 0 auto;}
.onRankingWrap .swiper3 .pdtListType .pdtImg .stikerWrap .stikerType_1 {border-radius: 0;background: #167a68;font-size: 20px;}
.onRankingWrap .swiper3 .pdtListType .pdtImg .stikerWrap .ic_bestCrown{position: absolute; top: -21px;}
.onRankingWrap .swiper3 .pdtListType .pdtImg{margin:0; }
.onRankingWrap .swiper3 .pdtListType .pdtImg:hover .pdtListTyp{border:0}
.onRankingWrap .swiper3 .pdtListType .pdtUtil{right:0px;left:0px;}
.onRankingWrap .swiper3 .pdtListType .pdtImg > img.over{top:0}
.onRankingWrap .swiper3 .pdtListType .pdtOver:after{right:0;left:0}
.onRankingWrap .swiper3 .pdtListType .pdtUtil{margin-top: -42px;}

.staffWrap .btnWrap {margin-top: 22px;}
.staffWrap .btnWrap .btnType6b{color: #fff;}
.staffWrap .desc{margin-top:38px; text-align: center; font-size: 14px;}
.pageDesc3{margin: 0 0 36px; text-align: center; font: 16px/1.5 'notoL';color: #222;}
.pageDesc3 span{color: #bb2530;}
.layerPop .staffLayer{min-height: 229px; text-align: center;padding: 0px 32px 48px !important;box-sizing: border-box;}
.layerPop .staffLayer .btnWrap {margin-top:0}
.layerPop .staffLayer .btnWrap .btnType6b{color: #fff;}
.layerPop .staffLayer .staff_msg{display: flex;flex-direction: column; align-items: center; justify-content: center;height: 133px;}
.layerPop .staffLayer .txt_1{font: 17px/1.4 'notoM'; color: #000;}
.layerPop .staffLayer .txt_2{margin-top:15px}
.pdtViewTop .pdtStatus .iconType4 {background: #000;}

.staffShopWrap{min-width: 1024px; max-width: 1280px; margin: 0 auto;}
.staffShopWrap .pdtListType .pdtStatus .iconstaff {width: 61px; background: url(../images/common/icon_pdt_staff.png) no-repeat;}
.staffShopWrap .mallHead{text-align: center; margin: 50px 0 40px;}
.staffShopWrap .mallHead .bx{height: 240px;color: #fff;background: url(../images/common/bg_mallHead.png) no-repeat;}
.staffShopWrap .mallHead .bx .tit{padding: 77px 0 28px;  font: 33px/1.1 'notoM';color: #222;margin-left: -40px; }
.staffShopWrap .mallHead .bx .tit em{color: #46ae8e;}
.staffShopWrap .mallHead .bx .desc{margin-top: -15px; font: 16px/1.5 'notoL';color: #555;}
.staffShopWrap .mallHead .bx .btn_note{font-size: 14px; color: #555; border: 1px solid #555; margin-top: 43px; width: 138px; height: 31px;}
.staffShopWrap .mallHead .bx .btnLayerClose{position: absolute; top:20px; right: 20px; width: 26px; height: 27px; background: url(../images/common/btn_layer_close.png) no-repeat; font-size: 0;}
.staffShopWrap .mallHead .bx .note h4{font: 20px/1.1 'notoM';color: #222;}
.staffShopWrap .mallHead .bx .note{display: none; position: absolute; top: 315px;left:50%;transform: translateX(-50%); width: 594px;padding: 40px 40px 20px; text-align: left; background: #fff; border: 1px solid #000;box-sizing: border-box;z-index: 29;}
.staffShopWrap .mallHead .bx .note ul{position: relative; margin: 11px 0 0 -8px;}
.staffShopWrap .mallHead .bx .note li{position: relative;padding-left: 10px;margin-bottom: 10px; color: #555;font-size: 16px; letter-spacing: -2px;}
.staffShopWrap .mallHead .bx .note li::before{content: '-'; position: absolute; left: 0; top: -2px; }
.staffShopWrap .pdtListSub .pdtCont .name{margin: 0 0 7px;}
.staffShopWrap .pdtListSub .pdtCont .price{margin: 0 0 15px;}

.mdpick{min-width: 1024px; max-width: 1280px; margin: 0 auto;}
.mdpick h3{text-align: center; font-size: 33px;color: #222; margin:91px 0 57px;}
.mdpick .tit_area{display: flex; min-height: 415px;margin: 25px 0 80px 0; border: 1px solid #e6e6e6;}
.mdpick .tit_area .tit{display: flex; flex-flow: column; justify-content: center; padding:0 75px;width: 528px; background: #f9f9f9;}
.mdpick .tit_area .tit h4{font-size: 40px;color: #000; line-height: 50px;margin:0 0 23px -2px}
.mdpick .tit_area p{font-size: 18px;line-height: 30px;margin-top: 4px;}

.mdpick .pdtListSub{margin-left: -26px;}
.mdpick .pdtListSub ul{margin-top: 0;}
.mdpick .pdtListSub li{width: 252px; margin: 0px 0px 65px 65px;}

/* INNI CLASS */
.inniClassWrap{margin: 115px 0 40px;}
.inniClassWrap h1{font-size: 40px;line-height: 62px; text-align: center; margin:-16px 0 30px 0; color: #000; font-family:'notoM'}
.inniClassWrap .banner{margin: 0 auto; width: 1920px; height: 351px; background: #82a969 url(../images/inniclass/bg_class_1.jpg) no-repeat; background-size: cover; font-weight: bold; display: flex; flex-direction: column; justify-content: center; align-items: center; font-family:'ng';}
.inniClassWrap .banner h2{font-size: 60px; font-family:'notoM'}
.inniClassWrap .banner p{font-size: 22px;}
.inniClassWrap .banner.banner_1{color: #fff;}
.inniClassWrap .banner.banner_2{color: #595036;}
.inniClassWrap .banner.banner_1{background-image: url(../images/event/inniclass/bg_class_1.jpg)}
.inniClassWrap .banner.banner_2{background-image: url(../images/event/inniclass/bg_class_2.jpg)}
.inniClassWrap .banner.banner_3{background-image: url(../images/event/inniclass/bg_class_3.jpg)}
.inniClassWrap .banner.banner_4{background-image: url(../images/event/inniclass/bg_class_4.jpg)}
.inniClassWrap .btn_apply{display: flex; justify-content: center; align-items: center; margin: 60px auto 0 auto; width: 361px; height:58px; background: #000; color: #fff; font-size: 22px;}
.inniClassWrap .btn_list{display: flex; justify-content: center; align-items: center; margin: 60px auto 0 auto; width: 361px; height:58px; border:1px solid #000; color: #222; font-size: 22px;}

.inniClassWrap .tabType.classTab{margin: 67px 0 65px;}
.inniClassWrap .tabType.classTab li.active a{background: #ddeccd; color: #024137;}
.inniClassWrap .tabType.classTab li.active a span:after {border-color: #ddeccd;}
.inniClassWrap .tabType.classTab li span:after {border: 1px solid #dcdcdc;}

.inniClassWrap .tabType2.classTab2{margin: 0px 0 30px; border-bottom: 1px solid #dcdcdc;}
.inniClassWrap .tabType2.classTab2 li button{background: none; border: 0;}
.inniClassWrap .tabType2.classTab2 li span{font-size: 20px; font-family:'notoM';}
.inniClassWrap .tabType2.classTab2 li span:after {border: 0;}
.inniClassWrap .tabType2.classTab2 li.active button{color: #000;}
.inniClassWrap .tabType2.classTab2 li.active span{display: inline-block; height: 100%; border-bottom: 2px solid #0e4035;  color: #0e4035; font-family:'notoM'}

.inniClassWrap .infoClass{color: #000; text-align: center;margin-bottom: 51px;}
.inniClassWrap .infoClass h3{font-size: 34px; margin-bottom: 13px; color: #222; font-family:'notoM'}
.inniClassWrap .h3tit{text-align: center; color: #222; font-size: 34px; margin:75px 0 53px 0; font-family:'notoM';}
.inniClassWrap .infoClass p{line-height: 28px;}
.inniClassWrap .infoClass p .high{color: #3a7117;}
.inniClassWrap .classTheme h3{margin:83px 0 52px 0; text-align: center; font-size: 34px; font-family:'notoM'; color: #222;}
.inniClassWrap .classTheme .bx{display: flex; min-height: 252px; margin-bottom: 36px;}
.inniClassWrap .classTheme .bx .info{width: 351px; margin-top:23px; color: #222;}
.inniClassWrap .classTheme .bx .info p{margin-top:24px; line-height: 28px; font-size: 18px; font-family:'notoL';}
.inniClassWrap .classTheme .bx .info .title{display: block; font-size: 30px;}
.inniClassWrap .classTheme .bx .info .title::after{display: block; content: '';width: 36px; height: 3px; background: #bbd2ac; margin:12px 0 0 2px}

.inniClassWrap .listBx{display: flex; align-items: flex-start; border: 1px solid #dcdcdc; margin-bottom: 29px;}
.inniClassWrap .listBx:last-child{margin-bottom: 0;}
.inniClassWrap .listBx .info_1{display: flex; flex-wrap: wrap; width: 505px;}
.inniClassWrap .listBx .info_1 span{display: flex; justify-content: center; align-items: center; width: 50%; height: 58px; color: #555; border-bottom: 1px solid #dcdcdc; box-sizing: border-box;}
.inniClassWrap .listBx .info_1 span.on{background: #024137; color:#fff; border-bottom: 0;}
.inniClassWrap .listBx .info_1 span.off{background: #f3f3f3; color: #555;}
.inniClassWrap .listBx .info_1 span:nth-child(2){border-left: 1px solid #dcdcdc; border-right: 1px solid #dcdcdc;}
.inniClassWrap .listBx .info_1 .img_area{height: 388px; overflow: hidden;}
.inniClassWrap .listBx .info_2{display: flex; flex-direction: column; justify-content: center;     padding: 0 60px 90px 60px;}
.inniClassWrap .listBx .info_2 .classType_wrap{margin:32px 0 24px; overflow: hidden;}
.inniClassWrap .listBx .info_2 .classType {float:left;padding:0 15px;height:27px;margin-right:7px;text-align:center;border:1px solid #222;font-family:'notoM';color: #222; font-size:15px;line-height:27px; border-radius:15px;}
.inniClassWrap .listBx .info_2 .classType.bt {border-color:#e5692d;color:#e5692d;}
.inniClassWrap .listBx .info_2 .classType.jl {border-color:#035a4c;color:#035a4c;}
.inniClassWrap .listBx .info_2 .classType.pg {border-color:#1e568c;color:#1e568c;}
.inniClassWrap .listBx .info_2 .classType.able {background-color:#024137;color:#fff;}
.inniClassWrap .listBx .info_2 .title{font-size: 30px; line-height: 38px; color: #000; margin-bottom: 20px;  }
.inniClassWrap .listBx .info_2 .title_sub{font-size: 19px; color: #666; margin-bottom: 35px;}
.inniClassWrap .notice {padding:45px 65px; margin-top:49px; background: #f7f7f7;}
.inniClassWrap .notice dl dt {margin-bottom:2px;font-family:'notoM';font-size:18px;color:#222;line-height:30px;}
.inniClassWrap .notice dl dd {position:relative;padding-left:11px;font-family:'notoR';font-size:16px;color:#555;line-height:25px;letter-spacing:-1px;}
.inniClassWrap .notice dl dd:before {position:absolute;top:-1px;left:1px;width:3px;height:3px;content:'-';}
.inniClassWrap .notice dl dd p{padding-left:8px;text-indent:-8px;}

.inniClassWrap .classView{padding-top: 60px; border:1px solid #dcdcdc;}
.inniClassWrap .classView .classInfo{display: flex; margin:0 60px 60px 55px}
.inniClassWrap .classView .classInfo .classImg{width: 540px; }
.inniClassWrap .classView .classInfo .classImg img{width: 100%;}
.inniClassWrap .classView .classInfo .classDetail{padding:5px 0 0 50px; width: 100%;}
.inniClassWrap .classView .classDetail .classType_wrap{margin:0px 0 24px; overflow: hidden;}
.inniClassWrap .classView .classDetail .classType {float:left;padding:0 15px;height:27px;margin-right:7px;text-align:center;border:1px solid #222;font-family:'notoM';color: #222; font-size:15px;line-height:27px; border-radius:15px;}
.inniClassWrap .classView .classDetail .classType.bt {border-color:#e5692d;color:#e5692d;}
.inniClassWrap .classView .classDetail .classType.jl {border-color:#035a4c;color:#035a4c;}
.inniClassWrap .classView .classDetail .classType.pg {border-color:#1e568c;color:#1e568c;}
.inniClassWrap .classView .classDetail .classType.able {background-color:#024137;color:#fff;}
.inniClassWrap .classView .classDetail .title{font-size: 30px; line-height: 38px; color: #000; margin-bottom: 20px; font-family:'notoM' }
.inniClassWrap .classView .classDetail .title_sub{font-size: 17px; color: #666; margin-bottom: 5px;}
.inniClassWrap .classView .classDetail .title_sub.date{color: #000;}
.inniClassWrap .classView .classDetail .info_wrap{margin:20px 0; border-top:1px solid #e7e7e7;border-top:1px solid #dcdcdc;}
.inniClassWrap .classView .classDetail .info_wrap dl.info {width: 100%; font-size:17px; font-family:'notoR'; color:#6b6b6b; line-height:25px; margin: 17px 0 0 12px; }
.inniClassWrap .classView .classDetail .info_wrap dl.info dt,
.inniClassWrap .classView .classDetail .info_wrap dl.info dd{display: inline-block;}
.inniClassWrap .classView .classDetail .info_wrap dl.info dt {width:7%;}
.inniClassWrap .classView .classDetail .info_wrap dl.info dd {width:90%;}
.inniClassWrap .classView .classDetail .info_wrap dl.info dt::before {content: "\2022";color: #949494;font-size: 12px;display: inline-block;width: 8px;margin-left: -11px;vertical-align: 2px;}
.inniClassWrap .classView .classDetail .info_wrap .time{}
.inniClassWrap .classView .classDetail .info_wrap .timeList {margin-top:17px;}
.inniClassWrap .classView .classDetail .info_wrap .timeList ul{margin-bottom: 10px; font-size: 0;}
.inniClassWrap .classView .classDetail .info_wrap .timeList ul li {display:inline-block;width:114px; padding: 13px 0px; border: 1px solid #c0c0c0; border-right: 0; text-align:center; margin-right: -1px; letter-spacing: 0;}
.inniClassWrap .classView .classDetail .info_wrap .timeList ul li:last-child{border-right: 1px solid #c0c0c0;}
.inniClassWrap .classView .classDetail .info_wrap .timeList ul li a {display:block;width:100%;height:100%; font-size:18px;color:#555;line-height:120%;letter-spacing: -1.5px;}
.inniClassWrap .classView .classDetail .info_wrap .timeList ul li a span{display: block; font-size: 16px; color: #888; }
.inniClassWrap .classView .classDetail .info_wrap .timeList ul li a:hover {text-decoration:none;}
.inniClassWrap .classView .classDetail .info_wrap .timeList ul li.on {background: #024137; border: 1px solid #024137;}
.inniClassWrap .classView .classDetail .info_wrap .timeList ul li.on a {color:#fff;}
.inniClassWrap .classView .classDetail .info_wrap .timeList ul li.on span{color: #c4c4c4;}
.inniClassWrap .classView .desc{padding: 30px 0 55px 60px; background: #fbfbfb;line-height: 27px; }

.inniClassWrap .storeMap{display: flex; justify-content: space-between;}
.inniClassWrap .storeMap .store{width: 630px;}
.inniClassWrap .storeMap .store .adress{display: flex; flex-wrap: wrap; height: 183px; padding: 38px 0 30px 33px; font-size: 18px; border: 1px solid #e5e5e5; box-sizing: border-box;}
.inniClassWrap .storeMap .store .adress .adress_1{margin-right: 30px; color: #222; font-family:'notoM';}
.inniClassWrap .storeMap .store .adress .adress_3{margin-top: 21px; width: 100%;font-size: 14px; color: #777; }
.inniClassWrap .storeMap .store .viewImg{width: 100%; height: 468px; background: #82a969 url(../images/event/inniclass/store_1.jpg) no-repeat; }
.inniClassWrap .storeMap .map{width: 632px; height: 648px;}

.inniClassWrap .cont1 {position:relative;margin-bottom:84px;}
.inniClassWrap .cont1 .title {width:100%;color:#000; font-family:'notoM'; text-align: center; font-size: 40px; margin: 0 0 50px 0;}
.inniClassWrap .movBox {position:relative;text-align:center; }
.inniClassWrap .movBox iframe {width:1280px;height:720px;}
.inniClassWrap .movBox .movTitle {margin: 20px 0 40px 0; font-family:'notoM';font-size:26px;color:#222;line-height:40px;letter-spacing:-0.5px;}
.inniClassWrap .cont1 .movList {position:relative; width: 1154px; margin: 0 auto;}
.inniClassWrap .cont1 .movList .list {position:relative;margin-right:15px;text-align:center;}
.inniClassWrap .cont1 .movList .list .movThumb {position:relative;width:100%;height:210px; background-size: cover; background-repeat: no-repeat;}
.inniClassWrap .cont1 .movList .list .movTitle {
    position: absolute;bottom: 0;left: 0;height: 73px;padding: 0 15px;
    font-family:'notoR';font-size:18px;color:#fff;line-height:25px;
    display: flex; align-items: center; justify-content: center; background: rgb(0,0,0,0.7);
}
.inniClassWrap .cont1 .movList .list .movTitle span{height: 50px;display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-align: left;}
.inniClassWrap .cont1 .movList .list a:hover {text-decoration:none;}
.inniClassWrap .cont1 .movList .slick-arrow {display:block;position:absolute;top:0;width:50px;height: 100%; color:transparent;}
.inniClassWrap .cont1 .movList .slick-arrow.slick-prev {left:-54px;background:url('https://images.innisfree.co.kr/kr/ko/resources/web/images/event/inniClass/arrows.png') no-repeat left center;}
.inniClassWrap .cont1 .movList .slick-arrow.slick-next {right:-36px;background:url('https://images.innisfree.co.kr/kr/ko/resources/web/images/event/inniClass/arrows.png') no-repeat right center;}

.inniClassWrap .cont2 {position:relative;}
.inniClassWrap .cont2 .title {text-align: center;font-size: 40px;color: #000; margin: 75px 0 59px 0;}
.inniClassWrap .cont2 .classList {display: flex; flex-wrap: wrap; justify-content: space-between;}
.inniClassWrap .cont2 .classList li {width: 32.4%; margin-bottom: 55px;}
.inniClassWrap .cont2 .classList li a {display:block;width:100%;height:100%;}
.inniClassWrap .cont2 .classList li a:hover {text-decoration:none;}
.inniClassWrap .cont2 .classList li .classThumb {position:relative;width:100%;height: 307px;overflow:hidden;  background-repeat: no-repeat; background-size: cover;}
.inniClassWrap .cont2 .classList li .classThumb .imgCnt {position:absolute;bottom:0;right:0;padding:4px 5px 4px 30px;font-family:'notoR';font-size:14px;font-weight:700;color:#fff;background:rgba(0,0,0,0.5) url('https://images.innisfree.co.kr/kr/ko/resources/web/images/common/iconImg.png') no-repeat 10px 5px;}
.inniClassWrap .cont2 .classList li .classInfo {position:relative;width:100%;height:102px;padding:20px 20px 32px;text-align:left;background:#fff;box-sizing:border-box;}
.inniClassWrap .cont2 .classList li .classInfo p {font-family:'notoR';font-size:17px;color:#333;line-height:26px;white-space:normal;overflow:hidden;text-overflow:ellipsis;word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-break:break-all;}
.inniClassWrap .cont2 .classList li .classInfo p span {display:inline-block;margin-right:3px;}
.inniClassWrap .cont2 .classList li .classInfo p.typeBT span {color:#e56065;}
.inniClassWrap .cont2 .classList li .classInfo p.typeJL span {color:#10684f;}
.inniClassWrap .cont2 .classList li .classInfo p.typePG span {color:#07538f;}
.inniClassWrap .cont2 .classList li .classInfo .date {position:absolute;bottom:0px;left:20px;font-family:'notoR';font-size:17px;color:#666;letter-spacing:-0.5px;}
.inniClassWrap .cont2 .paging {margin:0 0 90px 0}

.classContentsLayer .popTit{padding-right:40px;}
.classContentsLayer .photoView {padding:0 20px;margin-bottom:18px;}
.classContentsLayer .photoView .list{width:580px;color:transparent;}
.classContentsLayer .photoView .list img{width:100%;}
.classContentsLayer .photoThumb {position:relative;padding:0 40px;}
.classContentsLayer .photoNav .list{width:127px;height:104px;margin:0 4px; color:transparent; cursor:pointer; background-repeat: no-repeat; background-size: cover;}
.classContentsLayer .photoNav .list img{width:100%;height:100%;}
.classContentsLayer .photoThumb .slick-arrow {display:block;position:absolute;top:0;width:40px;height:100%;font-size:0;color:transparent;text-indent:-99999em;}
.classContentsLayer .photoThumb .slick-arrow.photo-prev {left:0;background:url('https://images.innisfree.co.kr/kr/ko/resources/web/images/event/inniClass/arrows2.png') no-repeat left center;}
.classContentsLayer .photoThumb .slick-arrow.photo-next {right:0;background:url('https://images.innisfree.co.kr/kr/ko/resources/web/images/event/inniClass/arrows2.png') no-repeat right center;}

.myReserveClassLayer .bgBox {padding:20px;background:#f5f5f5;}
.myReserveClassLayer .lineBox {padding:15px 18px;margin-top:32px;border:1px solid #e5e5e5;line-height:24px;}
.myReserveClassLayer .lineBox ul li {display: flex; flex-wrap: wrap; margin-bottom: 10px;}
.myReserveClassLayer .lineBox ul li::before{display: block; content: '*'; margin:3px 5px 0 0}
.myReserveClassLayer .lineBox ul li:last-child{margin-bottom: 0;}
.myReserveClassLayer .lineBox ul li p{margin:0 0 10px 10px;}
.myReserveClassLayer .lineBox ul li p span{color: #222;}
.myReserveClassLayer .persInfoConsign {padding:15px 0 0;margin-top:15px;font-family:'notoR';color:#777;line-height:22px;}
.myReserveClassLayer .consignTable table {border:1px solid #e5e5e5;border-top:0 none;text-align:left;}
.myReserveClassLayer .consignTable table tr {border-top:1px solid #e5e5e5;}
.myReserveClassLayer .consignTable table tr th,
.myReserveClassLayer .consignTable table tr td {padding: 10px 20px; color:#777;}
.myReserveClassLayer .consignTable table tr th:first-child,
.myReserveClassLayer .consignTable table tr td:first-child{border-right: 1px solid #e5e5e5;}
.myReserveClassLayer label{display: block; width: 132px; margin: 20px 0 0 auto; color: #333; font-size: 20px;}
.myReserveClassLayer label.inputChk > span:after{top: -1px; left: -8px; width: 21px; height: 21px;}
.myReserveClassLayer .btnWrap.g button{width: 212px;}

/* EVNET PRODUCT LIST */
.eventPrdList .evtListTab{width: 100%;margin:100px 0 40px 0}
.eventPrdList .evtListTab ul{display: flex; justify-content: flex-start; flex-wrap: wrap;}
.eventPrdList .evtListTab ul li{border: 1px solid #dcdcdc; margin:0 0 -1px -1px; width: 33.2%;box-sizing: border-box; }
.eventPrdList .evtListTab ul li a span{overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.eventPrdList .evtListTab ul li a{display: flex; justify-content: center; align-items: center; height: 60px; padding: 0 75px; color: #222; font-size: 22px; text-align: center; line-height: 100%;}
.eventPrdList .evtListTab ul li.active{border: 1px solid #0e4035;background: #0e4035;}
.eventPrdList .evtListTab ul li.active a{color: #fff;  }
.eventPrdList .listTitle{display: flex; justify-content: center; align-items: center; height: 120px; margin-bottom: 40px; background: #f2e4db; color: #222; font-size: 26px;font-family:'notoM';}
.eventPrdList .pdtListSub{margin-bottom: 55px;}
.eventPrdList .pdtListSub li{margin:60px 30px 0}
.eventPrdList .pdtListSub:last-child{margin-bottom: 0;}

/* INNI My Recipe Bar */
.inniMyclass{margin: 115px 0 40px;}
.inniMyclass h1{font-size: 40px;line-height: 62px; text-align: center; margin:-16px 0 30px 0; color: #000; font-family:'notoM'}
.inniMyclass .banner{width: 1920px; height: 351px; background: #82a969 url(../images/event/myclass/bg_class_1.jpg) no-repeat; background-size: cover; font-weight: bold; display: flex; flex-direction: column; justify-content: center; align-items: center; font-family:'ng';}
.inniMyclass .banner h2{font-size: 20px; font-family:'notoM';color: transparent;}
.inniMyclass .btn_apply{display: flex; justify-content: center; align-items: center; margin: 60px auto 0 auto; width: 361px; height:58px; background: #000; color: #fff; font-size: 22px;}
.inniMyclass .btn_list{display: flex; justify-content: center; align-items: center; margin: 60px auto 0 auto; width: 361px; height:58px; border:1px solid #000; color: #222; font-size: 22px;}
.inniMyclass .tabType.classTab{margin: 67px 0 65px;}
.inniMyclass .tabType.classTab li.active a{background: #ffde80; color: #222;}
.inniMyclass .tabType.classTab li.active a span:after {border-color: #ffde80;}
.inniMyclass .tabType.classTab li span:after {border: 1px solid #dcdcdc;}
.inniMyclass .tab_classCont > div{display: none;}
.inniMyclass .tab_classCont > div.active{display: block;}

.inniMyclass .titleMy{color: #000; text-align: center;margin-bottom: 51px;}
.inniMyclass .titleMy h3{font-size: 34px; margin-bottom: 13px; color: #222; font-family:'notoM'}
.inniMyclass .h3tit{text-align: center; color: #222; font-size: 34px; margin:75px 0 53px 0; font-family:'notoM';}
.inniMyclass .titleMy p{line-height: 28px; color: #555; font-family:'notoL';}
.inniMyclass .titleMy p .high{color: #3a7117;}
.inniMyclass .titleMy.a{margin-bottom: 31px;}
.inniMyclass .titleMy.b{margin-top:92px}
.inniMyclass .titleMy.c{margin-top:90px; margin-bottom: 31px;}
.inniMyclass .titleMy.d{margin-top:80px; margin-bottom: 41px;}
.inniMyclass .titleMy.d h3{line-height: 42px;}
.inniMyclass .titleMy.d span{color: #222;font-family:'notoR';}
.inniMyclass .notice {padding:45px 73px; margin-top:40px; background: #f7f7f7;}
.inniMyclass .notice dl dt {margin-bottom:2px;font-family:'notoM';font-size:18px;color:#222;line-height:30px;}
.inniMyclass .notice dl dd {position:relative;padding-left:11px;font-family:'notoR';font-size:16px;color:#555;line-height:25px;letter-spacing:-1px;}
.inniMyclass .notice dl dd:before {position:absolute;top:-1px;left:1px;width:3px;height:3px;content:'-';}
.inniMyclass .notice dl dd p{padding-left:8px;text-indent:-8px;}

.inniMyclass .storeMap{display: flex; justify-content: space-between;}
.inniMyclass .storeMap .store{width: 630px;}
.inniMyclass .storeMap .store .adress{ height: 183px; padding: 20px 0 20px 33px; font-size: 18px;box-sizing: border-box;}
.inniMyclass .storeMap .store .adress .adress_1{color: #222; font-family:'notoM'; text-align: center;}
.inniMyclass .storeMap .store .adress .adress_2{width: 100%;color: #777; text-align: center;}
.inniMyclass .storeMap .store .viewImg{width: 100%; height: 414px; background: #82a969 url(../images/event/myclass/myclass_store_1.jpg) no-repeat; }
.inniMyclass .storeMap .store .viewImg.viewImg1{background: #82a969 url(../images/event/myclass/myclass_store_1.jpg) no-repeat;}
.inniMyclass .storeMap .store .viewImg.viewImg2{background: #82a969 url(../images/event/myclass/myclass_store_2.jpg) no-repeat;}
.inniMyclass .storeMap .map{width: 632px; height: 648px;}
.inniMyclass .storeMap + .btn_apply{margin-top:0}
.inniMyclass .storeMap2{display: flex; justify-content: space-between;}
.inniMyclass .storeMap2 .store{width: 630px;}
.inniMyclass .storeMap2 .store .adress{display: flex; flex-wrap: wrap; height: 183px; padding: 38px 0 30px 33px; font-size: 18px; border: 1px solid #e5e5e5; box-sizing: border-box;}
.inniMyclass .storeMap2 .store .adress .adress_1{margin-right: 30px; color: #222; font-family:'notoM';}
.inniMyclass .storeMap2 .store .adress .adress_3{margin-top: 21px; width: 100%;font-size: 14px; color: #777; }
.inniMyclass .storeMap2 .store .viewImg{width: 100%; height: 467px; background: #82a969 url(../images/event/myclass/myclass_store_1.jpg) no-repeat;background-size: cover; }
.inniMyclass .storeMap2 .store .viewImg.viewImg1{background: #82a969 url(../images/event/myclass/myclass_store_1.jpg) no-repeat;background-size: cover;}
.inniMyclass .storeMap2 .store .viewImg.viewImg2{background: #82a969 url(../images/event/myclass/myclass_store_2.jpg) no-repeat;background-size: cover;}
.inniMyclass .storeMap2 .map{width: 632px; height: 648px;}

.inniMyclass .tabType2.classTab2{margin: 0px 0 30px; border-bottom: 1px solid #dcdcdc;}
.inniMyclass .tabType2.classTab2 li button{background: none; border: 0; font-size: 20px;}
.inniMyclass .tabType2.classTab2 li span{font-size: 20px; font-family:'notoM';}
.inniMyclass .tabType2.classTab2 li span:after {border: 0;}
.inniMyclass .tabType2.classTab2 li.active button{color: #000; }
.inniMyclass .tabType2.classTab2 li.active span{display: inline-block; height: 100%; border-bottom: 2px solid #0e4035;  color: #0e4035; font-family:'notoM'}
.inniMyclass .tab_mapCont > div{display: none;}
.inniMyclass .tab_mapCont > div.active{display: block;}

.inniMyclass .mrType {width:100%;}
.inniMyclass .mrType ul.imgTab {position:relative; text-align:center; width: 790px; margin:0 auto; overflow: hidden;}
.inniMyclass .mrType ul.imgTab li {position: relative; float: left; margin:0 24px 0px 0;}
.inniMyclass .mrType ul.imgTab li:last-child{margin-right: 0;}
.inniMyclass .mrType ul.imgTab li a:hover:after{content: '';display: block; position: absolute; top:0;left: 0;width: 100%; height: 240px; box-sizing: border-box;border:5px solid #fff1ca;}
.inniMyclass .mrType ul.imgTab li a {display:block;width: 240px; height:240px; background-position:center top;background-repeat:no-repeat;}
.inniMyclass .mrType ul.imgTab li a + div{padding: 10px; height: 68px;}
.inniMyclass .mrType ul.imgTab li a + div span{color: #222;}
.inniMyclass .mrType ul.imgTab li.on a {background-position:center center;}
.inniMyclass .mrType ul.imgTab li.on a:after{content: '';display: block; position: absolute; top:0;left: 0;width: 100%; height: 240px; background:url('../images/event/myclass/tab_chk.png') no-repeat;box-sizing: border-box; border:5px solid transparent}
.inniMyclass .mrType ul.imgTab li.type1 a {background-image:url('../images/event/myclass/con1_tab1.png');}
.inniMyclass .mrType ul.imgTab li.type2 a {background-image:url('../images/event/myclass/con1_tab2.png');}
.inniMyclass .mrType ul.imgTab li.type3 a {background-image:url('../images/event/myclass/con1_tab3.png');}
.inniMyclass .mrType .typeImg{margin-top:20px}
.inniMyclass .btnWrap.g button{width: 361px;height: 58px; margin: 0 3px;}

.mrbWritePop .inputTxt{border: 0; border-bottom: 1px solid #a7a7a7;}
.mrbWritePop .selectArea .selTit{
    background: url(https://images.innisfree.co.kr/resources/mobile/images/common/icn_arrow01.jpg) no-repeat 97% 65%;
    -webkit-appearance: none;;background-size: 8px 6px;height:30px;width:100%;border: 0; border-bottom: 1px solid #a7a7a7;
    font-size: 15px;color:#999;padding:0px;
}
.mrbWritePop .writeList dt{margin-top: 27px; font-family:'notoM';clear: both;}
.mrbWritePop .writeList dd{margin-top: 24px;}
.mrbWritePop .layerTitle{padding: 27px 0px 20px; margin:0 32px; font: 22px/1.2 'notoM'; border-bottom: 1px solid #7a7a7a;}
.mrbWritePop .btnLayerClose{top: 24px; right: 32px;}
.mrbWritePop .writeList dd button.btnType7m{border:1px solid #636361; background: #636361; color: #fff;font-size: 12px; height: 32px;line-height: 32px;}
.mrbWritePop .writeList dd .info{display: inline-block; margin-left: 5px;}
.mrbWritePop .inputTxt{height: 30px;padding: 0;}
.mrbWritePop .termsarea .terms .inputRadio{color:#222; font-weight: bold;}
.mrbWritePop .noteBox{padding: 10px 20px 20px;}
.mrbWritePop .noteBox p{font-weight: bold;}
.mrbWritePop .termsarea .allCk label{color:#222; font-weight: bold;}
.mrbWritePop .countArea .pdtQty{font-weight: bold;}

.storeviewPop .layerTitle{padding: 27px 0px 20px; margin:0 32px; font: 22px/1.2 'notoM'; border-bottom: 1px solid #7a7a7a;}
.storeviewPop .btnLayerClose{top: 24px; right: 32px;}
.storeviewPop .popClassTab li button{color: #555;height: 50px;}
.storeviewPop .popClassTab li.active button{background: #104138; color: #fff;}
.storeviewPop .tab_storeviewCont > div{display: none;}
.storeviewPop .tab_storeviewCont > div.active{display: block;}
.storeviewPop .store{width: 100%; margin-top:14px}
.storeviewPop .store .adress{padding: 20px 0 0px 0px; font-size: 18px;box-sizing: border-box;}
.storeviewPop .store .adress .adress_1{color: #222; font-family:'notoM';}
.storeviewPop .store .adress .adress_2{width: 100%;color: #777;}
.storeviewPop .store .viewImg{width: 100%; height: 320px; background: #82a969 url(../images/event/myclass/myclass_store_1.jpg) no-repeat; }
.storeviewPop .store .viewImg.viewImg1{background: #82a969 url(../images/event/myclass/myclass_store_1.jpg) no-repeat;}
.storeviewPop .store .viewImg.viewImg2{background: #82a969 url(../images/event/myclass/myclass_store_2.jpg) no-repeat;background-size: cover;}

/* main slide popup */
.mainSlidePop {display: none;position: fixed; top:0; bottom: 0; z-index: 1000; text-align: center;overflow: auto;background: rgba(0,0,0,.7);overflow: hidden;}
.mainSlidePop .popWrap {position: relative;display: inline-block;width:480px; height: 530px; text-align: left;background: transparent;border:0; background-color: #fff; border-radius: 25px; vertical-align: middle; overflow: hidden;transform: scale(0);transform-origin: 50% 100%;transition-timing-function: cubic-bezier(.25,.75,.5,1.25);/*transition: 0.6s*/}
.mainSlidePop .popWrap .btnWrap {position: relative;height: 50px; margin:0; background-color: #fff;color: #222;}
.mainSlidePop .popWrap .btnWrap button {position: absolute; top:0; height: 50px; font-size: 16px;font-family: 'notoM';}
.mainSlidePop .popWrap .btnWrap button.close{right:30px}
.mainSlidePop .popWrap .btnWrap button.next{left: 30px;}
.mainSlidePop .popWrap .btnWrap button.today{display: none; right:80px;}
.mainSlidePop .popWrap .btnWrap button.today::before{
    content: "";
    display: block; width: 15px; height: 2px;border-top: 1px solid #999;
    position: absolute;
    top: 25px;
    right: -16px;
    transform: rotate(90deg);
}
.mainSlidePop .popWrap .popHead{height: 85px; padding-top: 36px; box-sizing: border-box;border-bottom: 0;}
.mainSlidePop .popWrap .popHead h3{font: 24px/1.3 'notoM';color: #222; text-align: left; padding-left: 30px;}
.mainSlidePop .popWrap .popHead.popHead2{border-bottom: 1px solid #ddd;}
.mainSlidePop .popWrap .popBody{padding: 0px 15px 30px 30px;overflow-y: auto; box-sizing: border-box; }
.mainSlidePop .popWrap .imgArea{height: 237px;background-color: #eee; overflow: hidden;}
.mainSlidePop .popWrap .txtArea{height: 81px; margin: 27px 0 0 0; text-align: left; font-size: 18px; color:#222; overflow: auto;}
.mainSlidePop .popWrap .txtArea.txtArea2{height: 315px; padding: 0; font-size: 16px;}
.mainSlidePop .popEvtSlider {position:relative; width: 100%; height:480px; text-align: center;}
.mainSlidePop .popEvtSlider li {position:relative;width:100%;}
.mainSlidePop .popEvtSlider img {width: 100%; height: auto; vertical-align: top;}
.mainSlidePop .popEvtSlider .slideControl {position: absolute; bottom:10px; left: 30px; z-index: 1;margin-top:10px;}
.mainSlidePop .popEvtSlider .slideControl .slidePage {position: relative; display: inline-flex; justify-content: center; width: 68px; height: 31px; background:rgba(0,0,0,0.5); border-radius:15px; box-sizing: border-box; vertical-align: middle;}
.mainSlidePop .popEvtSlider .slideControl .slidePage button {display: none;width: auto;background: none;color: #dcdcdc; font-size: 18px;line-height: 2.2rem;border-radius: inherit;text-indent: inherit;font-family: 'roboM';}
.mainSlidePop .popEvtSlider .slideControl .slidePage button.swiper-pagination-bullet-active {display: block;height: 31px;color: #dcdcdc;line-height: 31px;}
.mainSlidePop .popEvtSlider .slideControl .slidePage button em {color: #fff;font-style: normal;font-weight: bold;font-family: 'roboM';} 
.mainSlidePop .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width: 2px !important; background-color: rgba(0, 0, 0, 0.6) !important;}
.mainSlidePop .popEvtSlider .slide.disabled .swiper-wrapper{transform: translate3d(0px, 0, 0) !important;}
.mainSlidePop .popEvtSlider .slide.disabled .swiper-slide-duplicate{display:none}


.cusOnlineCenter { position: relative; margin: 80px 0 0; padding: 31px 106px; background: #f3f3f3;}
.cusOnlineCenter .tit {font: 26px/1.4 'notoM';color: #222;}
.cusOnlineCenter .txt {font-family: 'notoL';}
.cusOnlineCenter .txt ul{margin:8px 0 15px 0}
.cusOnlineCenter .txt ul li{color: #222;font-size: 17px;}
.cusOnlineCenter .txt ul li em{color: #777;font-size: 14px;}
.cusOnlineCenter .txt strong {display: block; margin: 20px 0 0; font: 16px/1.4 'notoL';color: #222;}
.cusOnlineCenter .txt button{padding:0;width: 143px; margin:0 0px 0 0px;}
.cusOnlineCenter .linkWrap {position: absolute;top: 40px; right: 105px;}
.cusOnlineCenter .linkWrap [class*="link"] { position: relative; display: inline-block; margin-left: 92px; width: 125px; text-align: center; font-size: 20px; color: #222;}
.cusOnlineCenter .linkWrap [class*="link"]::before { content: ""; display: block; width: 100px; height: 100px; margin: 0 auto 13px auto;}
.cusOnlineCenter .linkWrap [class*="link"] span {display: inline-block;padding-right: 13px;
    background: url('../images/common/arw_link_b.png') no-repeat 100% 55%;
    color: #222;
}
.cusOnlineCenter .linkWrap .link1{cursor: default;}
.cusOnlineCenter .linkWrap .link1:before {background: url('../images/customer/icon_oncenter_link_1.png') no-repeat 50% 50%;}
.cusOnlineCenter .linkWrap .link2:before {background: url('../images/customer/icon_oncenter_link_2.png') no-repeat 50% 50%;}
.cusOnlineCenter .linkWrap .link3:before {background: url('../images/customer/icon_oncenter_link_3.png') no-repeat 50% 50%;}

.cusOnCenter_layer_1 .tbl_type {margin-top:16px;}
.cusOnCenter_layer_1 .tbl_type th {padding:10px 10px;text-align:center;background:#ececec;border:1px solid #d4d4d7;border-bottom:0;text-align: left;}
.cusOnCenter_layer_1 .tbl_type td {padding:8px 10px;border-top:1px solid #d4d4d7;border:1px solid #d4d4d7;vertical-align: top;}
.cusOnCenter_layer_1 .tbl_type td.bl-none {border-left:0;}
.cusOnCenter_layer_1 .emp{color: #ca1111; margin-bottom:25px}
.cusOnCenter_layer_1 .emp + p{font-size: 18px;}
.cusOnCenter_layer_1 .layerTitle{padding: 41px 0px 10px; margin: 0 32px;}
.cusOnCenter_layer_1 .bulListType{margin-top:35px}
.cusOnCenter_layer_1 .bulListType > li {position: relative;padding-left: 10px;font: 16px/26px 'notoL';color: #777;}
.cusOnCenter_layer_1 .bulListType > li + li {margin: 3px 0 0;}
.cusOnCenter_layer_1 .bulListType > li:after {content: "*";	position: absolute;top: 0; left: 0;}
.cusOnCenter_layer_1 .cont_img{margin:37px 0 35px 0}

.layerOrderList .scrollWrap{position: absolute;top: 100px; right: 10px; bottom: 48px ; left: 26px;padding-right: 16px;overflow: auto;}
.layerOrderList .prdinfo{border-bottom: 1px solid #000;margin-top: 35px; margin-bottom: 16px; color:#222;padding-bottom: 11px;}
.layerOrderList .orderList{overflow-x: hidden;}
.layerOrderList .orderList > ul {padding: 0;}
.layerOrderList .orderList > ul > li {width: 100%;margin-top: 0;padding-bottom: 14px; border-bottom: 0.1rem solid #eee;box-sizing: border-box;}
.layerOrderList .orderList > ul > li::after {content:'';display:block;clear:both;}
.layerOrderList .orderList > ul > li .itemThumb {position:relative; float: left; width: 107px; font-size: 0;}
.layerOrderList .orderList > ul > li .itemThumb img {width: 100%; height: auto;}
.layerOrderList .orderList > ul > li .itemInfor {float: left;width: 65%;margin-top: 15px;margin-left: 23px; box-sizing: border-box;}
.layerOrderList .orderList > ul > li .itemInfor p{margin-bottom: 3px;}
.layerOrderList .orderList > ul > li .itemInfor .tPrice {position: relative;color: #222;}
.layerOrderList .orderList > ul > li .itemInfor .tPrice .tUnit {font-size: 20px; font-family: 'roboM';}
.layerOrderList .orderList > ul > li .itemInfor .tpName {overflow: hidden; white-space: normal; text-overflow: ellipsis; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; width: 19rem; color: #222; }

.orderWrap .cartList .relatedProd{
    line-height: 1.65;
    margin-bottom: 16px;
    padding: 18px 0;
    background: #f3f3f3;
    text-align: center;
    color: #222;
    border-bottom:1px solid #dcdcdc;
}
.orderWrap .cartList .relatedProd .name{ margin: 0 0 6px; color: #ff3300;font: 18px/1.2 'notoM';}
.orderWrap .cartList .relatedProd .popCall_relatedProd{margin-top: 7px;}
.orderWrap .cartList .relatedProd .popCall_relatedProd a{
    padding-bottom: 2px;
    border-bottom:1px solid #000;
    padding-right: 14px;
    background: url(../images/common/arrow_link.png) no-repeat right center;
}
.orderWrap .cartList .relatedProd .note{margin-top:15px; font-size: 14px; color:#555; font-family: 'notoL'}
.orderWrap .cartList .relatedProd .popCall a{padding-bottom: 2px;border-bottom:1px solid #000;}
.orderWrap .cartList .relatedProd .ifwish{font-family: 'notoL'}
.orderWrap .cartList .relatedProd .ifwish p{font-family: 'notoR'}
.orderWrap .cartList .relatedProd .ifwish a{display: inline-block; margin: 5px 0 5px 0; border-bottom:1px solid #000; font-family: 'notoR'}

.layerPop.relatedPop th,
.layerPop.relatedPop td{padding: 13px 16px; border-bottom: 1px solid #dcdcdc; }
.layerPop.relatedPop td{color:#777}
.layerPop.relatedPop .textarea{font-family: 'notoL'; color:#222;margin-bottom: 17px;}
.layerPop.relatedPop .textarea .high{margin:10px 0 10px 0;font-family: 'notoM'}

.orderWrap .cartList .promoGifts_info{background: #f3f3f3; color: #222;  padding: 8px 0 8px 20px; font-family: 'notoM'}

.layerCart .cartList .relatedProd{ line-height: 1.65; background: #f3f3f3; text-align: center; color: #222; text-align: left; padding: 15px 18px; margin-bottom:1px;}
.layerCart .cartList .relatedProd .name{ margin: 0 0 6px; color: #ff3300;font: 14px/1.4 'notoM'; white-space: normal;}
.layerCart .cartList .relatedProd .popCall_relatedProd{margin-top: 3px; display: inline-block;}
.layerCart .cartList .relatedProd .popCall_relatedProd a{border-bottom:1px solid #000; padding-right: 14px; background: url(../images/common/arrow_link.png) no-repeat right center;}
.layerCart .cartList .relatedProd .note{margin-top:15px; font-size: 14px; color:#555; font-family: 'notoL';line-height: 1.5;}
.layerCart .cartList .relatedProd .popCall a{padding-bottom: 2px;border-bottom:1px solid #000;}
.layerCart .cartList .relatedProd .ifwish{font-family: 'notoL'}
.layerCart .cartList .relatedProd .ifwish p{font-family: 'notoR'}
.layerCart .cartList .relatedProd .ifwish a{display: inline-block; margin: 5px 0 5px 0; border-bottom:1px solid #000; font-family: 'notoR'}

.pdtPromo{position: relative;  }
.pdtPromo h3{margin:37px 0 17px;color:#222;font-size:20px;font-family: 'notoM'}
.pdtPromo > a{ position: absolute; top:0;right: 0;padding-right: 14px; color:#333; background: url(../images/common/arw_link_b.png) no-repeat right 2px center;}
.pdtPromo .bx{position: relative; }
.pdtPromo .bx > a.btnpromo{display: block; padding: 15.5px 15px; border:1px solid #dcdcdc; color: #222;background:#f3f3f3 }
.pdtPromo .bx > a.btnpromo i{position: absolute; top: 20px; right: 28px;width: 20px;height: 12px; background:#f3f3f3 url(../images/common/icon_promo_arrt.png) no-repeat right center;transition: 0.3s;}
.pdtPromo .bx.active > a.btnpromo i{transform: rotate(180deg);}
.pdtPromo ul:after {content: "";display: block;clear: both;}
.pdtPromo .bx .scrollWrap { display:none;position: absolute;top: 55px; right: 0px; bottom: 48px ; left: 0px; overflow: auto; height: 340px; z-index: 200;}

.pdtPromo .bx .list{padding: 20px 10px; border:1px solid #dcdcdc;border-top:0; background: #fff;}
.pdtPromo .bx .list li {position: relative;float: left;  width: 100%; height: 107px;}
.pdtPromo .bx .list li .pdtImg {position: absolute;	top: 0; left: 0;}
.pdtPromo .bx .list li .pdtImg img {width: 107px; height: 107px;}
.pdtPromo .bx .list li .pdtCont {padding: 0px 56px 0 127px;color: #222;}
.pdtPromo .bx .list .pdtCont span{display:block}
.pdtPromo .bx .list .pdtCont .txt {margin: 0 0 5px;color: #ff3300;font: 12px/1.4 'notoL';}
.pdtPromo .bx .list .pdtCont .name {
    max-height: 50px;
    width: 250px;
	overflow: hidden; white-space: nowrap; text-overflow: ellipsis; word-wrap: break-word;
	color: #000;
	line-height: 1.2;
}
.pdtPromo .bx .list .pdtCont .price {color: #222;}
.pdtPromo .bx .list .pdtCont .price .num {display:inline-block; font: 20px/1.2 'roboM';}
.pdtPromo .bx .list .pdtCont .point{color: #999; font-family: 'roboR';}
.pdtPromo .bx .list .opt{
    position: absolute;
    top: 36px;
    right: 32px;
}
.pdtPromo .bx .list .opt .btnZzim {
    width: 24px;
    height: 22px;
    background: url(../images/common/icon_promo_zzim.png) no-repeat 50% 0;
    font-size: 0;
}
.pdtPromo .bx .list .opt .btncart {
    width: 24px;
    height: 22px;
    background: url(../images/common/icon_promo_cart.png) no-repeat 50% 0;
    font-size: 0;
    margin-left:5px
}

.hotdealArea{margin-bottom: 77px;}
.hotdealArea .head .subTitle4{margin:0 0 15px 0}
.hotdealArea .head p{margin:0 0 0px 0}
.hotdealArea .pdtListType{margin:28px 0 0 0; overflow: hidden;}
.hotbannerSlide{position: relative; margin:50px 0 98px 0}
.hotbannerSlide .slidePage{position: absolute; bottom:40px; left:50%; transform: translateX(-50%);}

/* 아래부터는 상품상세 관련:슬라이더새로팜 */
.pdtViewTop {
	max-width: 1068px;
	min-width: 1024px;
	margin: 80px auto 0;
	box-sizing: border-box;
}
.pdtViewTop:after {content: "";display: block;clear: both;}
.pdtViewTop .pdtSlider_area{position: relative;	float: left;width: 450px;text-align: center; overflow: hidden;}
.pdtViewTop .pdtSlider_area .swiper-wrapper li {width: 450px;}
.pdtViewTop .pdtSlider_area .swiper-wrapper li img {width: 100%;}
.pdtViewTop .pdtSlider_area .stikerWrap {position: absolute;top: 16px; left: 16px;}
.pdtViewTop .pdtSlider_area .stikerWrap [class*="stiker"] {
	display: block;
	width: 64px; height: 64px;
	margin: 0 0 2px;
	line-height: 64px;
	border-radius: 50%;
	background: #ff3131;
	color:#fff;
	font-family: 'roboM';
	text-align: center;
	box-sizing: border-box;
}
.pdtViewTop .pdtSlider_area .stikerWrap .stikerType1 {font-size: 24px;}
.pdtViewTop .pdtSlider_area .stikerWrap .stikerType2 {font-size: 24px;}
.pdtViewTop .pdtSlider_area .stikerWrap .stikerType2 span {font-size: 26px;}
.pdtViewTop .pdtSlider_area .stikerWrap .stikerType3 {padding-top: 14px;background: #104138;font: 16px/1.2 'notoL';}
.pdtViewTop .pdtSlider_area .labelWrap {position: absolute;top: 16px; right: 16px;}
.pdtViewTop .pdtSlider_area .labelWrap span {display: block;margin: 0 0 8px;}
.pdtViewTop .pdtSlider_area .labelWrap span img {width: 90px;}

.pdtViewTop .pdtSlider_area .pdtThumbsSlider{position:relative;width:385px;margin:10px auto 0 auto; }
.pdtViewTop .pdtSlider_area .pdtThumbsSlider .swiper-wrapper li {width: 80px !important; margin-right: 20px !important; overflow: hidden;}
.pdtViewTop .pdtSlider_area .pdtThumbsSlider .swiper-wrapper li img {width: 100%;}
.pdtViewTop .pdtSlider_area .pdtThumbsSlider .swiper-slide{ cursor: pointer;}
.pdtViewTop .pdtSlider_area .pdtThumbsSlider .swiper-slide-thumb-active{position: relative; }
.pdtViewTop .pdtSlider_area .pdtThumbsSlider .swiper-slide-thumb-active::before{content: ''; display:block;width: 98%; height: 98%; position: absolute; top:0;left:0; border:1px solid #dcdcdc}
.pdtViewTop .pdtSlider_area .slide_control{display:none; position: absolute;bottom: 42px;width: 100%;}
.pdtViewTop .pdtSlider_area .swiper-button-next,
.pdtViewTop .pdtSlider_area .swiper-button-prev{position: absolute; top: 0;width:20px; height:12px;background: url(../images/common/icon_promo_arrt.png) no-repeat;font-size: 0;color: transparent;cursor: pointer; outline: none}
.pdtViewTop .pdtSlider_area .swiper-button-prev{left:0px; transform: rotate(-90deg);}
.pdtViewTop .pdtSlider_area .swiper-button-next{right:0px; transform: rotate(90deg);}
.pdtViewTop .pdtSlider_area .swiper-button-prev.swiper-button-disabled,
.pdtViewTop .pdtSlider_area .swiper-button-next.swiper-button-disabled{opacity: 0.4;}

.pdtViewTop .pdtViewCont .review {margin: 0px 0 20px 0; cursor: pointer;}
.pdtViewTop .pdtViewCont .reviewPointM {width: 96px;height: 20px; margin:2px 4px 0 0; vertical-align: middle; background: url(../images/review/reviewpoint_green.png) no-repeat 0 0px;}
.pdtViewTop .pdtViewCont .reviewPointM > span { display: inline-block; height: 100%; background: url(../images/review/reviewpoint_green.png) no-repeat 0 -21px;}
.pdtViewTop .pdtViewCont .reviewNum {display: inline-block;margin-right: 4px;font: 32px/1 'roboM';color: #222;vertical-align: middle;}
.pdtViewTop .pdtViewCont .reviewLength {	display: inline-block;font: 16px/1 'notoL';vertical-align: -5px;}
.pdtViewTop .pdtViewCont .reviewLength .num {font: 18px/1 'roboR';}

.pdtViewTop .pdtViewOrderTxt dd.fold{ position: relative;}
.pdtViewTop .pdtViewOrderTxt .pdtAlert .box:first-child{width: 80%;}
.pdtViewTop .pdtViewOrderTxt .pdtAlert .box:first-child::after {content:''; display:inline-block;margin-left: 5px; width:14px;height:8px;background:url(../images/common/arw_acd.png) no-repeat left top;}
.pdtViewTop .pdtViewOrderTxt dd.fold > div{height: 1.3rem; overflow: hidden; cursor: pointer;}
.pdtViewTop .pdtViewOrderTxt dd.fold.active > div{height: 100%;}
.pdtViewTop .pdtViewOrderTxt dd.fold.active .box:first-child::after {transform: rotate(-180deg);}

.pdtViewTop .pdtBenefit{margin-top: -13px; padding: 30px 0; border-top: 1px solid #dcdcdc;}
.pdtViewTop .pdtBenefit .info .pDesc{color: #222;}
.pdtViewTop .pdtBenefit .info .pImg {display: flex; height: 88px; align-items: center;}
.pdtViewTop .pdtBenefit .info .pImg img{width: 80px;}
.pdtViewTop .pdtBenefit .info .pImg .txt{margin-left: 19px; color: #222;}
.pdtViewTop .pdtBenefit .info .pNotice{line-height: 19px; color:#777} 

.pdtViewTop .pdtBenefit .info_2{margin-top:30px; border-top:1px solid #dcdcdc}
.pdtViewTop .pdtBenefit .info_2 .pDesc{color: #222;}
.pdtViewTop .pdtBenefit .info_2 .pImg {display: flex; height: 88px; align-items: center;}
.pdtViewTop .pdtBenefit .info_2 .pImg img{width: 80px;}
.pdtViewTop .pdtBenefit .info_2 .pImg .txt{margin-left: 0px; color: #222; font-size: 16px;}
.pdtViewTop .pdtBenefit .info_2 .pNotice{line-height: 19px; color:#777} 

/* 신제품 추천 */
.newPrd{margin: 0;}
.newPrd h1{font-size: 40px;text-align: center; margin: 85px 0 40px; color: #000; font-family:'notoM'}
.newPrd .prdRecom{position: relative;width: 100%;height: 950px;margin-bottom: 80px;overflow: hidden;background-repeat: no-repeat;}
.newPrd .prdRecom .txtArea{width: 440px;height: 302px;margin: 46px 0 41px 72px;}
.newPrd .prdRecom .txtArea > h2{display: inline-block;color: #000; font-size:17px;font-family: 'roboR'; font-weight: bold; border-bottom: 2px solid #000;}
.newPrd .prdRecom .txtArea .descTit{height: 100px;overflow: hidden; font-size: 31px; color: #000; line-height: 50px; margin: 31px 0 35px -2px;}
.newPrd .prdRecom .txtArea .desc{font-size: 18px;color: #555;line-height: 30px;height: 93px;overflow: auto;}
.newPrd .prdRecom .newProdSlide{position:relative;width: 1133px;box-sizing: border-box;padding: 35px 12px 30px 12px;margin:0 auto;background: #fff;}
.newPrd .prdRecom .newProdSlide h3{text-align: center; margin: 50px 0; color: #000; font-size: 30px;}
.newPrd .prdRecom .newProdSlide .swiper-wrapper > li.swiper-slide {width: 25% !important; overflow: hidden;cursor: pointer;}
.newPrd .prdRecom .newProdSlide .swiper-wrapper > li.swiper-slide .pdtListType{width: 250px; margin:0 auto;}
.newPrd .prdRecom .newProdSlide .pdtListType .pdtOver{position: relative;}
.newPrd .prdRecom .newProdSlide .pdtListType .pdtOver:after{border:0; z-index: -1;}
.newPrd .prdRecom .newProdSlide .slide_control{position: absolute;top: 50%;width: 100%;}
.newPrd .prdRecom .newProdSlide .slide_control .swiper-button-next,
.newPrd .prdRecom .newProdSlide .slide_control .swiper-button-prev{position: absolute; top: 0; width:56px; height:63px;background: url(../images/common/btn_newrecom_arr.png) no-repeat;font-size: 0;color: transparent;cursor: pointer; outline: none}
.newPrd .prdRecom .newProdSlide .slide_control .swiper-button-prev{left:-68px;}
.newPrd .prdRecom .newProdSlide .slide_control .swiper-button-next{right:-45px; transform: rotate(180deg);}
.newPrd .prdRecom .newProdSlide .slide_control .swiper-button-prev.swiper-button-disabled,
.newPrd .prdRecom .newProdSlide .slide_control .swiper-button-next.swiper-button-disabled{display: none;}

.newPrd .prdRecom .mCS-prdRecom-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ width: 7px; background-color: #6b6b6b;border-radius: 0;}
.newPrd .prdRecom .mCS-prdRecom-theme.mCSB_scrollTools .mCSB_draggerRail{ background-color: #adadad } 
.newPrd .prdRecom .mCS-prdRecom-theme.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.newPrd .prdRecom .mCS-prdRecom-theme.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background-color: #6b6b6b;}
.newPrd .prdRecom .mCSB_scrollTools .mCSB_draggerContainer{left: 1px;}

.newPrd .prdRecom .newProdSlide .pdtListType .way { display: inline-block;overflow: hidden;height: 44px; margin-left: -3px;text-align: center;font-size: 0;}
.newPrd .prdRecom .newProdSlide .pdtListType .way [class*="icon"] {display: inline-block;vertical-align: middle;height: 33px;font-size: 0; box-sizing: border-box; margin-right: 14px;}
.newPrd .prdRecom .newProdSlide .pdtListType .pdtStatus{margin-bottom: 10px;}
.newPrd .prdRecom .newProdSlide .pdtListType .pdtCont{height: 188px;}
.newPrd .prdRecom .newProdSlide .pdtListType .way .iconZzim {width: 30px; background: url('../images/common/icon_zzim_sg.png') no-repeat 0 4px;}
.newPrd .prdRecom .newProdSlide .pdtListType .way .iconZzim.on {width: 30px; background-position: 0 -26px;}
.newPrd .prdRecom .newProdSlide .pdtListType .way .iconCart {width: 26px; background: url('../images/common/icon_cart2.png') no-repeat 0 2px;}
.newPrd .prdRecom .newProdSlide .pdtListType .way .iconBuy {width: 29px; background: url('../images/common/icon_buy.png') no-repeat 0 7px;}